body{
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      text-align: center;
      background: rgb(116, 153, 233);
      }
#garden_link{
            text-align: right;
            padding: 0;
      }

img{
width: 25%;
filter: grayscale(0);
}
h2{
      font-size: 4em;
}

/*.title:hover{
      color: chocolate;
}*/

.container:hover{
      border-style: none;
      border-radius: 100%;
      transition: background-size 0.3s ease;
      filter: grayscale(1) blur(1px);
} 